.header_container {
  display: flex;
  justify-content: space-between;

  background-color: #c0c0c0;

  color: #1e3a8a;
}

.header_left {
  display: flex;
}

.header_icon {
  padding: 10px 20px;

  cursor: pointer;
  display: flex;
  align-items: center;
}
