.minimap_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.minimap_map {
  background-color: #c0c0c0;
  height: 100%;
  width: 100%;

  font-size: 100px;
}

.minimap_statebar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff2c5;
  padding: 20px;
}

.minimap_complete {
  position: absolute;
  right: 0;
  padding: 10px 15px;
  margin: 0 20px;
  background-color: #c0c0c0;
  border-radius: 20px;

  cursor: pointer;
}
