.minimap_container {
}

/* .minimap_map_container {
  height: 80vh;
  width: 90vw;
} */

.minimap_map {
  background-color: #c0c0c0;
  height: 700px;
  width: 100%;

  font-size: 100px;
}

.minimap_statebar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff2c5;
  padding: 20px;
}

.minimap_complete {
  position: absolute;
  right: 0;
  padding: 10px 15px;
  margin: 0 20px;
  background-color: #c0c0c0;
  border-radius: 20px;

  cursor: pointer;
}
